[Unit]
Description=Run Raspon PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
RandomizedDelaySec=20m
Persistent=true
Unit=raspon-backup.service

[Install]
WantedBy=timers.target
