[Unit]
Description=Process Raspon notifications every minute

[Timer]
OnBootSec=1m
OnUnitInactiveSec=1m
AccuracySec=10s
Persistent=true
Unit=raspon-notification-worker.service

[Install]
WantedBy=timers.target
